<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link href="../vender/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8">
    <link href="../vender/datatables/dataTables.bootstrap.css" rel="stylesheet" charset="utf-8">
    <style>
        .json_param_key_div{
            width:20%;
            float:left;
        }
        .json_param_black_div{
            width:2%;
            height: 2px;
            float: left
        }
        .json_param_value_div{
            width:78%;
            float:left
        }

    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Optimize</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/command/add">add command <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/command/history">history</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="width:10px;height:70px"></div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-time"></span> command history</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" id="command-table">
                        <thead>
                        <tr>
                            <th>cid</th>
                            <th>host</th>
                            <th>command</th>
                            <th>addTime</th>
                            <th>startTime</th>
                            <th>endTime</th>
                            <th>runTime</th>
                            <th>status</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% commands.forEach(function(item){ %>
                        <tr>
                            <td><%= item.cid %></td>
                            <td><%= item.host %></td>
                            <td><%= item.command %> <%= item.param %></td>
                            <td><%= moment(item.add_time).format('YYYY-MM-DD hh:mm:ss') %></td>
                            <td><%= moment(item.start_time).format('YYYY-MM-DD hh:mm:ss') %></td>
                            <td><%= moment(item.end_time).format('YYYY-MM-DD hh:mm:ss') %></td>
                            <td><%= item.run_time/1000 %>/s</td>
                            <td>
                                <% if(item.status == 1){ %>
                                <span class="label label-info">waite</span>
                                <% }  else if(item.status == 2){ %>
                                <span class="label label-primary">running</span>
                                <% }  else if(item.status == 3){ %>
                                <span class="label label-success">success</span>
                                <% }  else if(item.status == 4 || item.status == 6){ %>
                                <span class="label label-danger">fail</span>
                                <% } %>
                            </td>
                            <td>
                                <% if(item.status == 1){ %>
                                <span class="label label-warning command-delete" data-cid="<%= item.cid %>">delete</span>
                                <% }  else if(item.status == 2){ %>
                                <span class="label label-warning command-kill" data-cid="<%= item.cid %>">kill</span>
                                <% }  else { %>
                                <span class="label label-default command-detail" data-cid="<%= item.cid %>">detail</span>
                                <% } %>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div><!-- .panel-body -->
            </div><!-- .panel -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .container-fluid -->

<!-- Modal -->
<div class="modal fade" id="para_list_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">detail log</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery.js"></script>
<script src="../vender/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../vender/datatables/jquery.dataTables.js"></script>
<script src="../vender/datatables/dataTables.bootstrap.js"></script>
<script src="../js/optimize.js"></script>
<script>
    var $ = jQuery.noConflict();
    $("#command-table").dataTable();

    function command_ajax(url, cid, func) {
        $.ajax({
            url:url,
            type:'POST',
            async:true,
            data:{"cid": cid},
            timeout:5000,
            dataType:'json',
            success:function(data){
                if ( 'function' === typeof func ){
                    func(data);
                    return;
                }
                window.location.reload();
            }
        })
    }

    $(document).on('click',".command-delete",function () {
        var cid = $(this).data("cid");
        var url = '/command/command_delete_ajax';
        command_ajax(url, cid);
    });

    $(document).on('click',".command-kill",function () {
        var cid = $(this).data("cid");
        var url = '/command/command_kill_ajax';
        command_ajax(url, cid);
    });

    $(document).on('click',".command-detail",function () {
        var cid = $(this).data("cid");
        var url = '/command/command_detail_ajax';
        command_ajax(url, cid,function (data) {
            if( data.status == 6 ){
                $('div.modal-body').text( "该任务是被 kill 掉的！" );
            }else{
                $('div.modal-body').text( data.log );
            }
            $('#para_list_modal').modal('show');
        });
    });

</script>
</body>
</html>