*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: 'Microsoft Yahei';
}
ul,
li {
    list-style: none;
}
img {
    border: 0 none;
}
a,
a:hover {
    text-decoration: none;
}
.hide {
    display: none !important;
}
.hidden {
    visibility: hidden;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.gray {
    color: gray;
}
.yellow {
    color: yellow;
}

/* font-size */

.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f22 {
    font-size: 22px;
}
.f24 {
    font-size: 24px;
}
.f26 {
    font-size: 26px;
}
.f28 {
    font-size: 28px;
}
.f30 {
    font-size: 30px;
}
.f32 {
    font-size: 32px;
}

/*padding*/

.p0 {
    padding: 0px;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.p20 {
    padding: 20px;
}
.pt0 {
    padding-top: 0px;
}
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt25 {
    padding-top: 25px;
}
.pt30 {
    padding-top: 30px;
}
.pt35 {
    padding-top: 35px;
}
.pt40 {
    padding-top: 40px;
}
.pt45 {
    padding-top: 45px;
}
.pt50 {
    padding-top: 50px;
}
.pb0 {
    padding-bottom: 0px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb25 {
    padding-bottom: 25px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb35 {
    padding-bottom: 35px;
}
.pb40 {
    padding-bottom: 40px;
}
.pb45 {
    padding-bottom: 45px;
}
.pb50 {
    padding-bottom: 50px;
}
.pl0 {
    padding-left: 0px;
}
.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pl15 {
    padding-left: 15px;
}
.pl20 {
    padding-left: 20px;
}
.pl25 {
    padding-left: 25px;
}
.pl30 {
    padding-left: 30px;
}
.pl35 {
    padding-left: 35px;
}
.pl40 {
    padding-left: 40px;
}
.pl45 {
    padding-left: 45px;
}
.pl50 {
    padding-left: 50px;
}
.pr0 {
    padding-right: 0px;
}
.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}
.pr15 {
    padding-right: 15px;
}
.pr20 {
    padding-right: 20px;
}
.pr25 {
    padding-right: 25px;
}
.pr30 {
    padding-right: 30px;
}
.pr35 {
    padding-right: 35px;
}
.pr40 {
    padding-right: 40px;
}
.pr45 {
    padding-right: 45px;
}
.pr50 {
    padding-right: 50px;
}
.w_100{
    width: 100px !important;
}
.w_200{
    width: 200px !important;
}
.w_300{
    width: 300px !important;
}
.w_400{
    width: 400px !important;
}
.w_500{
    width: 500px !important;
}
.w_600{
    width: 600px !important;
}
.w_700{
    width: 700px !important;
}
.w_800{
    width: 800px !important;
}

/*margin*/

.m0 {
    margin: 0px !important;
}
.mt0 {
    margin-top: 0px !important;
}
.mb0 {
    margin-bottom: 0px !important;
}
.ml0 {
    margin-left: 0px !important;
}
.mr0 {
    margin-right: 0px !important;
}
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.m15 {
    margin: 15px;
}
.m20 {
    margin: 20px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt25 {
    margin-top: 25px;
}
.mt30 {
    margin-top: 30px;
}
.mt35 {
    margin-top: 35px;
}
.mt40 {
    margin-top: 40px;
}
.mt45 {
    margin-top: 45px;
}
.mt50 {
    margin-top: 50px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb35 {
    margin-bottom: 35px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb45 {
    margin-bottom: 45px;
}
.mb50 {
    margin-bottom: 50px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.ml25 {
    margin-left: 25px;
}
.ml30 {
    margin-left: 30px;
}
.ml35 {
    margin-left: 35px;
}
.ml40 {
    margin-left: 40px;
}
.ml45 {
    margin-left: 45px;
}
.ml50 {
    margin-left: 50px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mr25 {
    margin-right: 25px;
}
.mr30 {
    margin-right: 30px;
}
.mr35 {
    margin-right: 35px;
}
.mr40 {
    margin-right: 40px;
}
.mr45 {
    margin-right: 45px;
}
.mr50 {
    margin-right: 50px;
}

/*text-align*/

.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}

/*float*/

.fl {
    float: left;
}
.fr {
    float: right;
}
.fn {
    float: none;
}
.clear {
    clear: both;
}

/*position*/

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

/* sparrow_icon */

.sparrow_icon {
    background-image: url('images/sparrow_icon.png');
    background-repeat: no-repeat;
}

/**
 * 弹窗阴影
 */

.layui-layer {
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .5);
}

/*tip*/

.sparrow_tip_box {
    display: none;
    background: #fff;
    width: 260px;
    border: 1px solid #e0e0e0;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.sparrow_tip_head {
    line-height: 32px;
    background: #f6f0f3;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    font-size: 12px;
    padding: 0 0 0 10px;
}
.sparrow_tip_head h2 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    height: 32px;
}
.sparrow_tip_head .sparrow_tip_close {
    position: absolute;
    right: 10px;
    top: 1px;
}
.sparrow_tip_head a.sparrow_tip_close:hover {
    color: #f00;
    cursor: pointer;
}
.sparrow_tip_content {
    padding: 5px 10px;
}
.sparrow_tip_title a {
    line-height: 24px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.sparrow_tip_title a:hover {
    color: #f60;
}
.sparrow_tip_intro {
    text-indent: 24px;
    line-height: 160%;
    margin: 5px 0;
    color: #666;
}
.sparrow_tip_more {
    text-align: right;
    border-top: 1px dotted #ccc;
    line-height: 24px;
    margin: 8px 0 0 0;
}
.sparrow_tip_more a {
    color: #f60;
}
.sparrow_tip_more a:hover {
    color: #f00;
}
@-webkit-keyframes example {
    from {
        color: red;
    }
    to {
        color: black;
    }
}

/* 这是动画即将应用的目标元素 */

.sparrow_error {
    -webkit-animation-name: example;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 4;
    /* 1 is the default */
    -webkit-animation-direction: alternate;
    /* normal is the default */
    color: red;
    font-weight: bold;
}
.sparrow_page_list {
    clear: both;
    text-align: center;
    padding-top: 20px;
    font-size: 0;
    font-family: arial;
}
.sparrow_page_list .hide {
    display: none;
}
.sparrow_page_list .disabled {
    cursor: not-allowed;
    color: #ccc;
}
.sparrow_page_list .disabled:hover {
    color: #ccc;
    border-color: #ccc;
}
.sparrow_page_list a {
    font-size: 14px;
    float: left;
    color: #000;
    border: 1px solid #ccc;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin: 0 0 0 -1px;
    position: relative;
    text-decoration: none;
    font-family: arial;
    box-sizing: content-box;
}
.sparrow_page_list .more {
    border: none;
    height: 36px;
    width: 36px;
    color: #999;
    cursor: text;
}
.sparrow_page_list .more:hover {
    color: #999;
}
.sparrow_page_list .active {
    background: #ea5520;
    border-color: #ea5520;
    color: #fff;
    cursor: text;
}
.sparrow_page_list a:hover {
    border-color: #ea5520;
    color: #ea5520;
    z-index: 2;
}
.sparrow_page_list .active:hover {
    color: #fff;
    z-index: 0;
}
.sparrow_page_list .pre,
.sparrow_page_list .next {
    width: 70px;
}
.sparrow_page_list .pre {
    margin-right: 10px;
}
.sparrow_page_list .next {
    margin-left: 10px;
}
.sparrow_page_list .page,
.sparrow_page_list .total,
.sparrow_page_list .to {
    display: inline-block;
    font-size: 12px;
}
.sparrow_page_list .page.arrow .pre {
    text-indent: 8px;
}
.sparrow_page_list .page.arrow .next {
    text-indent: -8px;
}
.sparrow_page_list .page.arrow .pre:before,
.sparrow_page_list .page.arrow .next:before,
.sparrow_page_list .page.arrowOnly .pre:before,
.sparrow_page_list .page.arrowOnly .next:before {
    background: url(images/sparrow-page-list-arrow.png) no-repeat 0 0;
}
.sparrow_page_list .page.arrow .pre:before {
    content: "";
    width: 6px;
    height: 9px;
    position: absolute;
    top: 12px;
    left: 6px;
    background-position: 0 -18px;
}
.sparrow_page_list .page.arrow .pre:hover:before {
    background-position: 0 -9px;
}
.sparrow_page_list .page.arrow .pre.disabled:before,
.sparrow_page_list .page.arrow .pre.disabled:hover:before {
    background-position: 0 0;
}
.sparrow_page_list .page.arrow .next:before {
    content: "";
    width: 6px;
    height: 9px;
    position: absolute;
    top: 12px;
    right: 6px;
    background-position: -6px -18px;
}
.sparrow_page_list .page.arrow .next:hover:before {
    background-position: -6px -9px;
}
.sparrow_page_list .page.arrow .next.disabled:before,
.sparrow_page_list .page.arrow .next.disabled:hover:before {
    background-position: -6px 0;
}
.sparrow_page_list .page.arrowOnly .pre,
.sparrow_page_list .page.arrowOnly .next {
    width: 34px;
}
.sparrow_page_list .page.arrowOnly .pre:before,
.sparrow_page_list .page.arrowOnly .next:before {
    content: "";
    width: 6px;
    height: 9px;
    position: absolute;
    top: 12px;
    left: 14px;
}
.sparrow_page_list .page.arrowOnly .pre:before {
    background-position: 0 -18px;
}
.sparrow_page_list .page.arrowOnly .next:before {
    background-position: -6px -18px;
}
.sparrow_page_list .page.arrowOnly .pre:hover:before {
    background-position: 0 -9px;
}
.sparrow_page_list .page.arrowOnly .next:hover:before {
    background-position: -6px -9px;
}
.sparrow_page_list .page.arrowOnly .pre.disabled:hover:before,
.sparrow_page_list .page.arrowOnly .pre.disabled:before {
    background-position: 0 0;
}
.sparrow_page_list .page.arrowOnly .next.disabled:hover:before,
.sparrow_page_list .page.arrowOnly .next.disabled:before {
    background-position: -6px 0;
}
.sparrow_page_list .page.arrowOnly a {
    margin-right: 10px;
}
.sparrow_page_list .page.arrowOnly .next {
    margin: 0;
}
.sparrow_page_list .first,
.sparrow_page_list .last {
    font-size: 18px;
}
.sparrow_page_list .total span {
    float: left;
    color: #999;
    line-height: 36px;
}
.sparrow_page_list .total {
    margin: 0 15px 0 30px;
}
.sparrow_page_list .to {
    height: 29px;
}
.sparrow_page_list .to span,
.sparrow_page_list .to input {
    float: left;
    color: #999;
}
.sparrow_page_list .to span {
    margin-top: 3px;
}
.sparrow_page_list .to .num {
    width: 45px;
    margin: 0 3px;
    padding: 1px 0;
    text-align: center;
    border: 1px solid #dedede;
    outline: none;
}
.sparrow_page_list .to .num:focus {
    border-color: #ea5520;
}
.sparrow_page_list .to .btn {
    width: 35px;
    padding: 1px 0;
    margin-left: 3px;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
    cursor: pointer;
    text-align: center;
    outline: none;
}
.sparrow_page_list .to .btn:hover {
    border-color: #ea5520;
    background-color: #ea5520;
    color: #fff;
}
.sparrow_loading {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(220, 220, 220, .3);
}

/**
 * 感叹号
 */

.sparrow_error_msg {
    width: 100%;
    text-align: center;
}
.sparrow_error_msg_1 {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 35px;
    border: 1px solid #c3c3c3;
    color: #909090;
    border-radius: 30px;
    text-align: center;
    margin: 0px auto;
}
.sparrow_error_msg_2 {
    text-align: center;
    color: #909090;
    margin-top: 15px;
}
.laydate-icon,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_bottom,
.laydate_body .laydate_top {
    box-sizing: content-box;
}
.sparrow_input_tip_error,
.sparrow_input_tip_info,
.sparrow_input_tip_ok {
    display: block;
    padding-left: 20px;
    height: 22px;
    line-height: 22px;
    color: #a0a0a0;
    background-repeat: no-repeat;
    background-position: 3px center;
}
.sparrow_input_tip_ok {
    color: #000;
    background-image: url(images/icon_ok.png);
}
.sparrow_input_tip_info {
    color: #999;
    background-image: url(images/icon_info.png);
}
.sparrow_input_tip_error {
    color: #f00;
    background-image: url(images/icon_error.png);
}
.sparrow_input_tip_2.sparrow_input_tip_ok {
    height: 27px;
    line-height: 27px;
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    background: url("images/sparrow_input_msg_true.png") no-repeat 10px center;
}
.sparrow_input_tip_2.sparrow_input_tip_error {
    height: 27px;
    line-height:27px;
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    color: #a0a0a0;
    background: url("images/sparrow_input_msg_false.png") no-repeat 10px center;
}
.sparrow_input_tip_2.sparrow_input_only_error.sparrow_input_tip_ok {
    display: none;;
}
.sparrow_input_tip_2 .sparrow_input_error {
    background: #fee1e4;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s;
}
.sparrow_input_tip_3 {
    height: 19px;
    position: absolute;
    top: -100%;
    left: 20%;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);
    padding: 6px 30px 7px 16px;
    display: inline-block;
    line-height: 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 9999;
}
.sparrow_input_tip_3 .sparrow_validate_icon {
    height: 16px;
    padding-left: 25px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 12px;
    background: url("images/sparrow-page-list-arrow.png") no-repeat 0 -187px;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
}
.sparrow_input_tip_3 a {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 5px;
    text-indent: -9999px;
    background: url("images/sparrow-page-list-arrow.png") no-repeat 0 -215px;
}
.sparrow_input_tip_3 a:hover {
    background-position: 0 -244px;
}
.sparrow_input_tip_3 .sparrow_validate_arrow {
    width: 14px;
    height: 14px;
    position: absolute;
    display: block;
    overflow: hidden;
    bottom: -14px;
    line-height: 14px;
    left: 70%;
    text-align: left;
}
.sparrow_input_tip_3 .sparrow_validate_arrow i,
.sparrow_input_tip_3 .sparrow_validate_arrow em {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    position: absolute;
}
.sparrow_input_tip_3 .sparrow_validate_arrow i {
    top: 1px;
    border-color: #ccc transparent transparent transparent;
}
.sparrow_input_tip_3 .sparrow_validate_arrow em {
    border-color: #fff transparent transparent transparent;
}
.sparrow_btn {
    font-size: 12px;
    font-weight: normal;
    margin: 0 3px;
    margin-right: 7px;
    margin-left: 7px;
    padding: 2px 8px;
    color: #fff;
    border: 1px solid #0064b6;
    background: #0071ce;
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    box-sizing: content-box;
}
.sparrow_btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .225);
}
.sparrow_btn:hover {
    opacity: .9;
    filter: alpha(opacity=90);
    color: #fff;
    text-decoration: none;
}

/**
 * 通用弹窗
 */

.layui-layer-btn0 {
    background: #0071ce;
}
.layui-layer-btn1 {
    background: #fff;
    color: #404a58;
    border: 1px solid #c0c4cd;
    border-radius: 3px;
}
.layui-layer-btn1:hover {
    color: #404a58;
}
.layui-layer-btn2 {
    background: #f60;
    color: #fff;
    border: 1px solid #f60;
    border-radius: 3px;
}
.layui-layer-btn3 {
    background: #f00;
    color: #fff;
    border: 1px solid #f00;
    border-radius: 3px;
}
.sparrow_tiny_box_btn {
    padding-top: 5px;
    text-align: center
}
.sparrow_pop_msg {
    width: 300px;
    border: 1px solid #dea52a;
    box-shadow: 2px 2px 2px #ddd;
    border-radius: 4px;
    background: #fffff2;
    position: absolute;
    animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.sparrow_pop_title {
    padding: 10px 18px 0;
}
.sparrow_pop_title_in {
    height: 24px;
    line-height: 20px;
    border-bottom: 1px solid #CCBCAE;
}
.sparrow_pop_title_in span {
    display: block;
    float: left;
    color: #db1010;
    font-size: 14px;
    font-weight: bold;
    font-family: "微软雅黑", "宋体";
}
.sparrow_pop_title_in a {
    float: right;
    margin: -2px -3px 0 0;
    overflow: hidden;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: url(images/sparrow-page-list-arrow.png) no-repeat 0 -157px;
}
.sparrow_pop_title_in a:hover {
    background-position: 1px -126px;
}
.sparrow_pop_cont {
    padding: 10px 18px;
    word-wrap: break-word;
}
.sparrow_pop_arrow,
.sparrow_pop_arrow i {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px;
    border-color: transparent;
}
.sparrow_pop_arrow.top {
    top: -8px;
    left: 50%;
    margin-left: -10px;
    border-top: 0;
    border-bottom-color: #dea52a;
}
.sparrow_pop_arrow.top i {
    top: 1px;
    left: -7px;
    border-top: 0;
    border-bottom-color: #fffff2;
}
.sparrow_pop_arrow.left {
    top: 50%;
    left: -8px;
    margin-top: -10px;
    border-left: 0;
    border-right-color: #dea52a;
}
.sparrow_pop_arrow.left i {
    top: -7px;
    left: 1px;
    border-left: 0;
    border-right-color: #fffff2;
}
.sparrow_pop_arrow.right {
    top: 50%;
    right: -8px;
    margin-top: -10px;
    border-right: 0;
    border-left-color: #dea52a;
}
.sparrow_pop_arrow.right i {
    top: -7px;
    right: 1px;
    border-right: 0;
    border-left-color: #fffff2;
}
.sparrow_pop_arrow.bottom {
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 0;
    border-top-color: #dea52a;
}
.sparrow_pop_arrow.bottom i {
    bottom: 1px;
    left: -7px;
    border-bottom: 0;
    border-top-color: #fffff2;
}
.sparrow_title_msg {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CB9319;
    display: inline-block;
    box-shadow: 2px 2px 2px #ddd;
}
.sparrow_title_msg p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFF2;
    opacity: .8;
    filter: alpha(opacity=80);
    border-radius: 4px;
}
.sparrow_title_msg span {
    display: block;
    line-height: 16px;
    color: #000;
    font-size: 12px;
    text-align: left;
    position: relative;
    word-wrap: break-word;
}
.sparrow_disabled {
    color: #999;
    background: #f3f3f3;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sparrow_help {
    display: inline-block;
    border-bottom: 1px dashed;
}


/*------------------------------- search_form -------------------start---*/
.filter {
    width: 1200px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}
.filter ul {
    width: 100%;
    float: left;
    overflow: hidden;
}
.filter li {
    float: left;
    margin: 3px 10px 5px;
}
.filter .fr {
    float: right;
}
.filter li a {
    height: 22px;
    line-height: 22px;
    padding: 0 9px;
    display: inline-block;
    color: #2a335a;
    white-space: nowrap;
    border-radius: 3px;
    border: 1px solid transparent;
}
.filter li:hover a,
.filter li.active a {
    color: #e73c32;
    border: 1px solid #e73c32;
}
.filter li.active .btn,
.filter li:hover .btn {
    color: #fff;
}
.filter .btn {
    color: #fff;
    background-color: #e73c32;
    margin-right: 5px;
}
.filter .btn:hover {
    background-color: #eb683a;
}
.filter_in {
    height: 39px;
    border-bottom: 1px dashed #e4e4e4;
    overflow: hidden;
}
.filter_in.last {
    border-bottom: 0;
}
.filter_title {
    width: 70px;
    height: 100%;
    padding-left: 30px;
    line-height: 39px;
    color: #666;
    background: #eee url("../../main/images/new_icon.png") no-repeat 0 5px;
    float: left;
    font-weight: bold;
}
.filter_cont {
    width: 1085px;
    padding: 5px 0 5px 10px;
    float: left;
}
.filter_cont_1 ul {
    max-width: 1025px;
}
.filter input {
    width: 34px;
    padding: 1px 3px;
}
.filter_cont_input {
    line-height: 18px;
    margin-right: 5px;
    margin-left: 5px;
    float: left;
}
.filter_cont_input input {
    margin-right: 5px;
}
.filter_sure {
    width: 27px;
    padding: 0 4px;
    margin: 0 2px 2px 20px;
    float: left;
    border: 1px solid #e73c32;
}
.filter_sure:hover {
    border: 1px solid #eb683a;
}
.filter_more {
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    margin: 2px 5px 0 0;
    border-radius: 3px;
    background: #02883D url("images/icon_index.png") no-repeat -1px -957px;
}
.filter_more.down {
    background-position: 0 -988px;
}
.kind_all {
    height: 24px;
    padding: 7px 0;
    position: relative;
    margin-bottom: -1px;
    border: 1px solid #e9e9e9;
}
.kind_all ul li {
    float: left;
    margin-left: 10px;
}
.kind_all ul li a {
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    display: block;
    border: 1px solid #e9e9e9;
    color: #737474;
}
.kind_all ul li a:hover,
.kind_all ul li.active a {
    border-color: #63b77b;
    background-color: #89c997;
    color: #fff;
}
.kind_all div a {
    margin-right: 10px;
    display: inline-block;
    color: #3a77bc;
}
.peng_share_how {
    margin-left: 10px;
    color: #3a77bc;
}
.peng_td_img {
    padding: 10px;
}
.peng_td_img img {
    vertical-align: middle;
}
.either_choose .filter_cont_in {
    position: relative;
    float: left;
    *padding-left: 10px;
}
.filter_in.either_choose {
    overflow: visible;
}
.either_choose .filter_cont_in:hover .filter_cont_in_none {
    display: block;
}
.either_choose .filter_cont_in a {
    color: #2a335a;
}
.filter_cont_in_none {
    position: absolute;
    top: 100%;
    left: 10px;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    margin-top: -1px;
    display: none;
    z-index: 9;
}
.filter_cont_in_none.active {
    border-color: #169442;
}
.filter_cont_in_none a {
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px;
    text-align: left;
    line-height: 24px;
    float: left;
}
.filter_cont_in_none a:hover {
    text-decoration: underline;
}
.filter_cont_in_none div a.btn {
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
    border-radius: 3px;
    padding: 0;
    float: none;
    color: #fff;
}
.filter_cont_in_none div a:hover {
    text-decoration: none;
}
.filter .only_tejia {
    width: 14px;
    height: 14px;
    margin-left: 20px;
    vertical-align: bottom;
}
.either_choose_a {
    position: relative;
    width: auto;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    display: inline-block;
    border: 1px solid #c4c4c4;
    margin-left: 10px;
}
.either_choose .filter_cont_in .either_choose_a.active {
    border-color: #169442;
    color: #169442;
    z-index: 10;
}
.either_choose .filter_cont_in:hover .either_choose_a.active {
    border-color: #169442;
}
.either_choose_a b {
    font-weight: normal;
}

/*------------------------------- search_form -------------------end---*/
.hide{
    display: none;
}